<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="b2d.l.mahtmagandhi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RequestAppointmentActivity"></activity>
        <activity android:name=".NotificationActivity" />
        <activity android:name=".ChatOnProblem" />
        <activity android:name=".Appointment" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CommitteeMemberDetailActivity" />
        <activity android:name=".SurveyDetailActivity" />
        <activity android:name=".CreateProblemAndSuggestionActivity" />
        <activity android:name=".ProblemSuggestion" />
        <activity android:name=".Comment" />
        <activity android:name=".NewPost" />
        <activity android:name=".OurWorks" />
        <activity android:name=".Language" />
        <activity android:name=".MeetingDetails" />
        <activity android:name=".SettingProfile" />
        <activity android:name=".Helpline" />
        <activity android:name=".VotingGuide" />
        <activity android:name=".CommitteeMember" />
        <activity android:name=".Survey" />
        <activity android:name=".Manifesto" />
        <activity android:name=".CreateNew" />
        <activity android:name=".VisionMission" />
        <activity android:name=".OurWorkDetail" />
        <activity android:name=".NewsUpdate" />
        <activity android:name=".CommunityChat" />
        <activity android:name=".Meetings" />
        <activity android:name=".AboutUs" />
        <activity android:name=".Home" />
        <activity android:name=".Register" />
        <activity android:name=".OTPVerify" />
        <activity android:name=".LoginActivity" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>