<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="b2d.l.mahtmagandhi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RequestAppointmentActivity"></activity>
        <activity android:name=".NotificationActivity" />
        <activity android:name=".ChatOnProblem" />
        <activity android:name=".Appointment" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CommitteeMemberDetailActivity" />
        <activity android:name=".SurveyDetailActivity" />
        <activity android:name=".CreateProblemAndSuggestionActivity" />
        <activity android:name=".ProblemSuggestion" />
        <activity android:name=".Comment" />
        <activity android:name=".NewPost" />
        <activity android:name=".OurWorks" />
        <activity android:name=".Language" />
        <activity android:name=".MeetingDetails" />
        <activity android:name=".SettingProfile" />
        <activity android:name=".Helpline" />
        <activity android:name=".VotingGuide" />
        <activity android:name=".CommitteeMember" />
        <activity android:name=".Survey" />
        <activity android:name=".Manifesto" />
        <activity android:name=".CreateNew" />
        <activity android:name=".VisionMission" />
        <activity android:name=".OurWorkDetail" />
        <activity android:name=".NewsUpdate" />
        <activity android:name=".CommunityChat" />
        <activity android:name=".Meetings" />
        <activity android:name=".AboutUs" />
        <activity android:name=".Home" />
        <activity android:name=".Register" />
        <activity android:name=".OTPVerify" />
        <activity android:name=".LoginActivity" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="b2d.l.mahtmagandhi.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>